# Server Configuration
PORT=3000
CLIENT_URL=http://localhost:5173

# Authentication
JWT_SECRET=your_jwt_secret_key_here

# AWS S3 Config
AWS_REGION=your_aws_region
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_BUCKET_NAME=your_s3_bucket_name

# MONGOURI
MONGO_URI=your_mongodb_connection_string_here

# EMAIL - This is what I created for this project
EMAIL_USER="dtube.support@gmail.com"
EMAIL_PASS="qsmhlfcydvilkqlm"
