.video-card-sidebar {
    display: flex;
    flex-direction: row; 
    gap: 8px; 
    margin-bottom: 8px;
    cursor: pointer;
    width: 100%; 
    padding: 8px;
    border-radius: 12px;
    text-decoration: none;
}

.video-card-sidebar:hover {
    background-color: #1f1f1f;
}

.video-card-sidebar:visited, 
.video-card-sidebar:active,
.video-card-sidebar:focus {
    text-decoration: none;
    color: inherit;
    outline: none;
}

.video-card-sidebar .thumbnail-container {
    width: 168px; 
    flex-shrink: 0; 
    position: relative;
    margin-bottom: 0; 
}

.video-card-sidebar .thumbnail-img {
    width: 100%;
    border-radius: 8px; 
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.video-card-sidebar .thumbnail-video-length {
    position: absolute;
    bottom: 4px;
    right: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 0.75rem;
    font-weight: 500;
    padding: 3px 4px;
    border-radius: 4px;
    margin: 0;
}

.video-card-sidebar .video-details-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.video-card-sidebar .creator-profile-pic {
    display: none; 
}

.video-card-sidebar .video-info {
    padding-right: 0;
}

.video-card-sidebar .video-card-title {
    font-size: 0.875rem; 
    margin: 0 0 4px 0;
    color: rgb(212, 212, 212); 
    line-height: 1.4;
    
    display: -webkit-box;
    /* -webkit-line-clamp: 2; */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-card-sidebar .video-card-content-creator,
.video-card-sidebar .video-card-views-created-at {
    font-size: 0.75rem; 
    color: #aaaaaa; 
    margin: 0;
    line-height: 1.2;
}

.video-card-sidebar .video-card-content-creator:hover {
    color: #cccccc;
}

.video-card-content-creator {
    text-decoration: none;
}